    <div class="col-md-12 text-right">
      <%= link_to "Link", "#" %>
    </div>
    <div class="col-md-12 text-right">
      <%= link_to "Link", "#" %>
    </div>    <div class="col-md-12 text-right">
      <%= link_to "Link", "#" %>
    </div>    <div class="col-md-12 text-right">
      <%= link_to "Link", "#" %>
    </div>    <div class="col-md-12 text-right">
      <%= link_to "Link", "#" %>
    </div>    <div class="col-md-12 text-right">
      <%= link_to "Link", "#" %>
    </div>    <div class="col-md-12 text-right">
      <%= link_to "Link", "#" %>
    </div>    <div class="col-md-12 text-right">
      <%= link_to "Link", "#" %>
    </div>    <div class="col-md-12 text-right">
      <%= link_to "Link", "#" %>
    </div>