<%= provide(:title, "Praise") %>


<div class="praise">
<div class="row">
  <div class="col-md-12 col-xs-12">
    <% @praises.each do |praise| %>
      <blockquote>
        <div class="text-justify praise_content ">
          <%= "\"#{praise.content}\"" %>
        </div>

        <div class="text-left <% if !praise.photo_path.blank? %> name_position <% end %>">
          <strong><%= "-#{praise.name}" %> </strong>
          <br />
          <strong><%= praise.position %></strong>
        </div>
      <% if !praise.photo_path.blank? %>
        <div class="pull-left">
        <%= image_tag(praise.photo_path) %>
        </div>
      <% end %>
      </blockquote>
      <% end %>
  </div>
</div>
</div>