<!DOCTYPE html>
  <html>

    <head>
      <title><%= full_title(yield(:title)) %></title>
      <%= favicon_link_tag '/favicon2.ico' %>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= javascript_include_tag 'swfobject' %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
      <link href='http://fonts.googleapis.com/css?family=Rock+Salt|Averia+Seric+Libre|Raleway|Nothing+You+Could+Do' rel='stylesheet' type='text/css'>

          <!--[if IE]>
<style>
.arrow { top: 100%; }
</style>
<![endif]-->

   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.js"></script>
    <![endif]-->
    </head>


<body>
    <!-- main content:  header, navbar, body, footer -->
      <div class="main-container-wrapper container">
        <header>
          <%= render 'layouts/banner' %>
        </header>

        <!-- display horizontal navbar on small screens and non home page -->
          <% if params[:controller] != "static_pages" || params[:action] != "home" %>
            <%= render 'layouts/navbar' %>
          <% else %>
            <div class="visible-xs">
              <%= render 'layouts/navbar' %>
            </div>
          <% end %>
        <!-- End of horizontal navbar  -->

        <!-- 3d fold title tab only visible on desktop -->
          <div class="row ">
            <div class="visible-lg col-md-4">
              <div class="text-center<% if params[:action] == "fun_facts"%> fun_facts_page_title <%else %> page_title<% end %>"><%= yield(:title) %><% if !yield(:title).blank? %><span class="arrow"></span><% end %></div>
            </div>
          </div>
        <!-- end of 3d fold title tab -->
               
        <!-- main content and side bar -->
          <div class="main-content">
            <div class="row">
              <div class="<% if params[:action]=="resume" %> col-md-12 col-sm-12 <% else %>col-md-8 col-sm-8 <% end %>col-xs-12 text-center">
                <%= yield %>
              </div>

            <!-- Side Bar, displays link on desktop home page and .... -->
            <% if params[:action] !="resume" %>
              <aside>
                <div class="col-md-4 col-sm-4 hidden-xs side_links">
                  <%= render 'layouts/contact_bar' %>
                  <% if params[:controller] == "static_pages" && params[:action] == "home" %>
                    <%= render 'vertical_links' %>
                  <% else %>
                    <%= render 'layouts/sidebar' %>
                  <% end %>
                </div>
              </aside>
            <% end %>
            <!-- End of side bar -->
          </div>
        <!-- end of main content and side bar -->

      </div>
    <!-- end of main content wrapper -->
  
    <footer>
      <%= render 'layouts/footer' %>
    </footer>


</body>

</html>
