<!DOCTYPE html>
  <html>

    <head>

      <title><%= full_title(yield(:title)) %></title>
      <%= favicon_link_tag '/favicon2.ico' %>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= javascript_include_tag 'swfobject' %>
      <%= csrf_meta_tags %>
      <%= analytics_init if Rails.env.production? %> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

          <!--[if IE]>
<style>
.arrow { top: 100%; }
</style>
<![endif]-->
              <%= render 'layouts/google_fonts' %>


    </head>


<body>
    <!-- main content:  header, navbar, body, footer -->
      <div class="main-container-wrapper container">
        <header>
          <%= render 'layouts/banner' %>
        </header>

        <!-- display horizontal navbar on small screens and non home page -->
          <% if params[:controller] != "static_pages" || params[:action] != "home" %>
            <%= render 'layouts/navbar' %>
          <% else %>
            <div class="visible-xs">
              <%= render 'layouts/navbar' %>
            </div>
          <% end %>
        <!-- End of horizontal navbar  -->


               
        <!-- main content and side bar -->
          <div class="main-content">
            <div class="row">
              <div class="<% if params[:action]=="resume" %> col-md-12 col-sm-12 <% else %>col-md-8 col-sm-8 <% end %>col-xs-12 text-center">
                <%= yield %>
              </div>

            <!-- Side Bar, displays link on desktop home page and .... -->
            <% if params[:action] !="resume" %>
              <aside>
                <div class="col-md-4 col-sm-4 hidden-xs side_links">
                  <%= render 'layouts/contact_bar' %>
                  <% if params[:controller] == "static_pages" && params[:action] == "home" %>
                    <%= render 'vertical_links' %>
                  <% else %>
                    <%= render 'layouts/sidebar' %>
                  <% end %>
                </div>
              </aside>
            <% end %>
            <!-- End of side bar -->
          </div>
        <!-- end of main content and side bar -->

      </div>
    <!-- end of main content wrapper -->
  
    <footer>
      <%= render 'layouts/footer' %>
    </footer>


</body>

</html>
